*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ 
    margin-right: 0;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    border:black;
    border-radius: 10%;
    padding: 5px;
    outline: 2px black;
    transition:  250ms ease;
   
}
a:hover{
    background: #000000;
    box-shadow: 0 0 4px 3px rgba(147, 9, 9, 0.5);
    color: white;
}  

li{
    display: inline-block;

}
.lista{
    display: block;
    color: red;
}
ul{
    
    position: fixed;
    top: 5.2%;
    right: 10px;
    max-width: 100%;
    height: 1rem;
    
}
h1{
    color: rgb(226, 17, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 1rem;
    text-align: center;  
}
.start-bild, .kontakt-bild {    /* Här har jag optimerat koden! */
    max-width: 320px;
    border: 3px solid black;
    box-shadow: 10px 10px #000000; 
    border-radius: 5%; 
    margin-bottom: 10px;
    margin-top: 20px; 
}
.fa-brands{
    font-size:3rem; 
    text-align: center;
    left:50%;   
}
.fa-brands:hover{
    box-shadow: 0 0 5px 3px rgba(147, 9, 9, 0.5);
    transform:scale(1.2);                              /* Här har jag lagt en liten hover-förstorning på ikonerna */
}
.fontawesome{
    text-align: center;  
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;          
}
p::first-letter{
    font-size: 1.5rem;
    color: red;
}
ol{
    display:flex;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
}
.container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 330px);
  align-items: center;   
}
.container-galleri { 
    gap: 1rem;
    display: grid;  
    grid-template-columns:
    repeat(auto-fit,minmax(350px, 3fr)); 
}
.image-gallery{
    max-width: 350px;
    height: 280px;
    border: 2px solid black;
    box-shadow: 10px 10px #000000;
    border-radius: 5%;  
    margin-bottom: 10px;
}
.image-gallery:hover {
    transform: scale(1.2);
}
 .header {
    grid-area: header;
    position: fixed;
    top:0;  
    width:100%;
    height: 3rem;
    background-color: rgb(56, 51, 51);
    z-index: 2;
    margin-bottom: 50px;
  }
  .main {
    padding:5rem;
    grid-area: main;
    align-items: center;
    place-content: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10vh;
    width: 100%;
  }
.footer {
    grid-area: footer;
    bottom: 0;
    position: fixed;
    height: 4rem;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(56, 51, 51);;
    scroll-padding-block-end: 100%;
  }
  
.card, .card-bg, .card-bg-kontakt, .card-galleri {   /* Här har jag optimerat koden till alla cards! */
    color:white;
    position:relative;
    top: 0;
    background-color: black;
    padding: 20px;
    opacity: 95%;
    box-shadow: 15px 15px #373737;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .card-bg{
    width: 320px;
    height:365px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    margin: 0;  
   
}
.card-bg-kontakt{
    width: 330px;
    height:430px;
    
}
.card-galleri{
    width: 320px;
    height:150px;
    text-align: center;
    
}
.mitten-text{
    font-size: large;
    text-align: center;
}
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white; 
    display: block;     
}
input{
    height: 20px;
    background-color: whitesmoke;
    border: none;
} 
textarea{
    width:300px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
    background-color: whitesmoke;
    border: none;
}
button{
    position: relative;
    bottom: -10px;
    right: -40%;
    background-color: black;
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border:solid white;
    padding:2px;
    border-radius: 20%;
    height: 40px;
    width: 60px;
    font-size: large;
}
.knapp:hover{
    box-shadow: 0 0 5px 3px rgba(252, 250, 250, 0.5);
}

body{
    min-height: 100vh;
    background: url(inlämningsbilder/bakgrund.jpg);
    background-size: cover;
    width: 100%;
 }
 .logo{
    position: fixed;
    top:0;
    max-width: 100%;
     left: 1%;  
     color:whitesmoke;
     text-shadow: 2px 2px 4px #000000;
     font-size: 2.5rem;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding: 0.5rem;
     opacity: 65%;
     animation-name: slideInLeft;
     animation-duration: 1s;   
     pointer-events: none;
 }

 
 @keyframes slideInLeft {
    from {
        transform: translateX(-300px)       
    }
    to {
        transform: translateX(0)
    }
}
@media screen and (max-width: 912px) {
  
    .header{
        height: 5rem;
    
    }
    .logo{
        font-size: 1.5rem;
   
    }
      
    ul{
        top: 4%;
    }
    .image-gallery:hover {
        transform: none;
    }
}

@media screen and (min-width: 800px) {
    
    .header{
        height: 5.5rem;
    
    }
    .logo{
        font-size: 2.5rem;
    }
    ul{
        top: 5%;
    }
    .container-galleri{
       
        place-content: center;
    }
    a{
        font-size:large;
    
    }  
}

  @media screen and (min-width: 360px) {

    .container{
        place-content: center;  
    }
    

    .container-galleri{
       
        place-content: center;
    }
    ul{
        top: 6%;
    } 
}